# Expose deployer mode enum and fields used by Hold mode
public com.simibubi.create.content.kinetics.deployer.DeployerBlockEntity$Mode
public-f com.simibubi.create.content.kinetics.deployer.DeployerBlockEntity mode
public-f com.simibubi.create.content.kinetics.deployer.DeployerBlockEntity state
public-f com.simibubi.create.content.kinetics.deployer.DeployerBlockEntity timer
public-f com.simibubi.create.content.kinetics.deployer.DeployerBlockEntity reach
public-f com.simibubi.create.content.kinetics.deployer.DeployerBlockEntity player
public-f com.simibubi.create.content.kinetics.deployer.DeployerBlockEntity heldItem
public-f com.simibubi.create.content.kinetics.deployer.DeployerBlockEntity redstoneLocked
public com.simibubi.create.content.kinetics.deployer.DeployerBlockEntity$State
public com.simibubi.create.content.kinetics.deployer.DeployerBlockEntity getTimerSpeed()I
